@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&family=Roboto+Slab:wght@500&display=swap');
body{
    background-color: rgba(127, 255, 212, 0.824) !important;
}

.mH{
    font-family: 'Qwitcher Grypen', cursive;;
    font-weight: 700;
    font-size: 5rem;
}
h1, h3, option, select,li, button{
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}
#productType, #productCategory, #search{
    font-size: 2rem;
}

select,#search{
    border-radius: 15%;
}
.mainContainer{
    flex-direction: column;
   
    text-align: center;
}
.selectionContainer{
    display: flex;
    justify-content: center;

}
li{
   font-size:3rem; 
}